footer.footer
  .container
    .footer__left
      .footer__text
        p 
          button.modal-btn1(type="button") Про нас
          .modal1
            .modal-content1
              button.close-modal1(type="button") ×
              h2 Про нас
              p Ми молодці, давно на ринку, низькі ціни, купуйте саме у нас
        p 
          button.modal-btn(type="button") Контакти
          .modal
            .modal-content
              button.close-modal(type="button") ×
              h2 Контакти
              p Номер телефону
              p Facebook 
              p Instagram 
        p
          | Email:
          a(href="info@example.com") info@example.com
    .footer__right
        iframe(src=src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3020.1876817879083!2d30.513956552407677!3d50.465962711236834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce6aeb46254f%3A0x8e70cf5f182d1883!2z0JrQvtC90YLRgNCw0LrRgtC-0LLQsCDQv9C70L7RidCw!5e0!3m2!1suk!2sua!4v1679917747261!5m2!1suk!2sua")
